<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cartMapper">

<insert id="insertCart" parameterType="cartDTO">
insert into tbl_cart values(#{user_id}, #{product_no}, #{quantity})
</insert>

<select id="selectCart" resultType="map">
select a.product_no, a.name, a.price, a.stock, a.content, a.image_path, b.quantity
from tbl_product a, tbl_cart b
where a.product_no=b.product_no
and b.user_id=#{user_id}
</select>

<delete id="deleteCart">
delete tbl_cart where product_no =
(select product_no from tbl_product where name=#{name})
</delete>

<select id="selectById" resultType="int">
select count(*) from tbl_cart where user_id=#{user_id} and product_no=#{product_no}
</select>

<update id="updateQuantity">
update tbl_cart set quantity=#{quantity} where product_no = 
(select product_no from tbl_product where name=#{name})
</update>
</mapper>