<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
	PUBLIC "-//mybatis.org/DTD Config 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-config.dtd">
	
<configuration>
	<typeAliases>
		<typeAlias type="com.api.comment.CommentDTO" alias="commentDTO"/>
		<typeAlias type="com.api.dto.LikeDTO" alias="likeDTO"/>	
		<typeAlias type="com.api.dto.MemberDTO" alias="memberDTO"/>	
		<typeAlias type="com.api.dto.PostDTO" alias="postDTO"/>
		<typeAlias type="com.api.dto.ProductDTO" alias="productDTO"/>	
		<typeAlias type="com.api.dto.CartDTO" alias="cartDTO"/>		
		<typeAlias type="com.api.dto.NoticeDTO" alias="noticeDTO"/>		
	</typeAliases>
</configuration>